Repository randolf-scholz/tsdm: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, axes-axis, mypy

markdownlint:
  name: markdownlint
  language: system
  stages:
  - pre-push
  - manual
  verbose: true
  entry: mdl
  args:
  - -r
  - ~MD007,~MD013,~MD029,~MD033

axes-axis:
  name: rename 'axes=' => 'axis='
  language: pygrep
  entry: axes=

mypy:
  name: mypy
  language: system
  entry: mypy
  require_serial: true
  args:
  - --hide-error-context
  - --hide-error-end
  - --no-pretty
  - --no-error-summary
  stages:
  - pre-push
  - manual

update .idea
  .idea/inspectionProfiles/Project_Default.xml
  src/tsdm/utils/system.py
Due: axes-axis, mypy

pyarrow 15.0
  .pre-commit-config.yaml
  dev/tmp.md
  poetry.lock
  pyproject.toml
Due: markdownlint

updated ETT docstring
  .pre-commit-config.yaml
  src/tsdm/datasets/ett/ett.py
Due: axes-axis, mypy

updated depenedencies & pre-commit
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

updated pre-commit
  .pre-commit-config.yaml
Due: none

ruff updates
  pyproject.toml
  src/tsdm/encoders/numerical.py
  src/tsdm/models/ode_rnn.py
  src/tsdm/models/pretrained/base.py
  src/tsdm/testing/hash.py
  src/tsdm/types/aliases.py
  src/tsdm/utils/decorators/_decorators.py
  tests/tsdm/data/test_dataset.py
  tests/tsdm/types/test_array_protocols.py
  tests/tsdm/utils/test_utils.py
Due: axes-axis, mypy

pyright issues
  .pre-commit-config.yaml
  pyproject.toml
  src/tsdm/encoders/base.py
  tests/tsdm/models/test_jit_optimization.py
  tests/tsdm/utils/test_utils.py
Due: axes-axis, mypy

cleaned up dicts
  src/tsdm/__init__.py
  src/tsdm/datasets/__init__.py
  src/tsdm/datasets/base.py
  src/tsdm/encoders/__init__.py
  src/tsdm/logutils/__init__.py
  src/tsdm/metrics/__init__.py
  src/tsdm/metrics/_torch_imports.py
  src/tsdm/metrics/base.py
  src/tsdm/metrics/functional.py
  src/tsdm/metrics/functional/__init__.py
  src/tsdm/metrics/modular.py
  src/tsdm/metrics/timeseries.py
  src/tsdm/optimizers/__init__.py
  src/tsdm/random/__init__.py
  src/tsdm/random/generators/__init__.py
  src/tsdm/random/generators/_generators.py
  src/tsdm/random/generators/helix.py
  src/tsdm/random/samplers/__init__.py
  src/tsdm/random/stats/__init__.py
  src/tsdm/random/stats/distributions.py
  src/tsdm/tasks/__init__.py
  src/tsdm/testing/__init__.py
Due: axes-axis, mypy

changed markdownlint
  .pre-commit-config.yaml
  TODO.md
  dev/dataloaders/notes.md
  dev/tmp.md
  docs/content/ISSUES.md
  poetry.lock
  run/clean_history.md
Due: markdownlint

updated pre-commit
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  bugs/pickle_namedtupel.ipynb
  data/results_DeepState.ipynb
  dev/dataloaders/ConcatDataset.ipynb
  dev/datasets/MIMIC-IV/mimic-iv-2.2-custom-Copy1.ipynb
  experiments/condition_number_hessian_svd.ipynb
  poetry.lock
  pyproject.toml
  tests/tsdm/random/samplers/test_compute_grid.py
  tests/tsdm/types/test_time_types.py
  tests/tsdm/utils/test_lazydict.py
Due: axes-axis, mypy

torch 2.2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/tsdm/datasets/ushcn/ushcn.py
  src/tsdm/metrics/_torch_imports.py
  src/tsdm/optimizers/__init__.py
  src/tsdm/types/protocols.py
Due: axes-axis, mypy

removed unnecessary metaclasses
  .idea/inspectionProfiles/Project_Default.xml
  dev/tmp.py
  pyproject.toml
  src/tsdm/data/datasets.py
  src/tsdm/encoders/base.py
  src/tsdm/encoders/sklearn.py
  src/tsdm/encoders/transforms/__init__.py
  src/tsdm/logutils/callbacks.py
  src/tsdm/logutils/logfuncs.py
  src/tsdm/logutils/loggers.py
  src/tsdm/models/__init__.py
  src/tsdm/models/activations/__init__.py
  src/tsdm/models/pretrained/base.py
  src/tsdm/tasks/_deprecated.py
  src/tsdm/tasks/base.py
  src/tsdm/utils/pprint.py
Due: axes-axis, mypy

added timing script
  tests/time_import.sh
Due: none

renamed __module__ -> __name__ due to bug in pycharm https://youtrack.jetbrains.com/issue/PY-49840/
  src/tsdm/encoders/pytorch.py
  src/tsdm/models/generic/conv1d.py
  src/tsdm/models/generic/deepset.py
  src/tsdm/models/generic/dense.py
  src/tsdm/models/generic/mlp.py
  src/tsdm/models/generic/resnet.py
  src/tsdm/models/generic/rezero.py
  src/tsdm/models/generic/scaled_dot_product_attention.py
  src/tsdm/models/set_function_for_timeseries.py
  src/tsdm/utils/decorators/_contextmanagers.py
Due: axes-axis, mypy

ruff 0.2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

removed poetry in favor for pdm
  .idea/inspectionProfiles/Project_Default.xml
  .pre-commit-config.yaml
  pdm.lock
  poetry.lock
  poetry.toml
  pyproject.toml
Due: none

removed node_modules
  .gitignore
  node_modules/.package-lock.json
  package-lock.json
  pyproject.toml
Due: none

fixed based on gitignore
  dev/layers/model.torch
Due: none

updated pyproject
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(deps): update dependencies
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  run/update_project_deps.sh
Due: none

updated script
  run/update_project_deps.sh
Due: none

Fixed mypy pre-commit hook
  .pre-commit-config.yaml
Due: none

added get_metric function
  src/tsdm/metrics/__init__.py
Due: axes-axis, mypy

Refactored activations.
  src/tsdm/models/activations/__init__.py
  src/tsdm/models/activations/_torch_imports.py
  src/tsdm/models/activations/base.py
  src/tsdm/models/activations/functional.py
  src/tsdm/models/activations/modular.py
Due: axes-axis, mypy

updated .pre-commit
  .pre-commit-config.yaml
Due: none

updated dependencies
  .pre-commit-config.yaml
  dev/Untitled.ipynb
  pdm.lock
  pyproject.toml
  src/tsdm/logutils/logfuncs.py
  src/tsdm/utils/decorators/_decorators.py
  tests/tsdm/models/test_jit_optimization.py
Due: axes-axis, mypy

updated pre-commit
  .pre-commit-config.yaml
  pdm.lock
Due: none

updated ruff config
  pdm.lock
  pyproject.toml
Due: none

updated kiwi-schema
  .pre-commit-config.yaml
  src/TECHNICAL_NOTE.md
  src/tsdm/datasets/kiwi/kiwi_schema.py
Due: markdownlint, axes-axis, mypy

updated deps
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: none

moved file
  run/tmp.py
Due: axes-axis

updated ruff
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  tests/tsdm/random/samplers/test_sliding_window_sampler.py
Due: axes-axis, mypy

fixed typos
  .idea/tsdm.iml
  run/tmp.py
  src/tsdm/datasets/mimic/mimic_iii_scholz2024.py
  src/tsdm/encoders/transforms/_transforms.py
  src/tsdm/models/generic/rezero.py
  src/tsdm/random/generators/helix.py
  src/tsdm/random/samplers/_samplers.py
  src/tsdm/tasks/mimic/mimic_iii_debrouwer2019.py
  src/tsdm/tasks/mimic/mimic_iv_bilos2021.py
  src/tsdm/tasks/uci/electricity.py
  src/tsdm/tasks/uci/electricity_lim2021.py
  src/tsdm/utils/decorators/_decorators.py
Due: axes-axis, mypy

updated ruff
  pyproject.toml
  src/tsdm/config/_config.py
  src/tsdm/logutils/callbacks.py
  src/tsdm/testing/data.py
  src/tsdm/utils/_utils.py
  src/tsdm/utils/system.py
Due: axes-axis, mypy

updated .idea
  .idea/inspectionProfiles/Project_Default.xml
Due: none

pyright update
  pyproject.toml
  src/tsdm/encoders/numerical.py
  src/tsdm/random/samplers/_samplers_deprecated.py
  tests/tsdm/encoders/numerical/test_numerical.py
Due: axes-axis, mypy

Fixed add_to_path context manager
  src/tsdm/utils/contextmanagers/_contextmanagers.py
Due: axes-axis, mypy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)
  axes-axis: any of: \.py$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)
  mypy: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
